{% extends 'users/detail.html' %}

{% block user_details %}
  <div class="col-sm-9">
    <div class="row">

      {% for msg in g.user.liked_messages %}

        <div class="col-lg-4 col-md-6 col-12">
          <div class="card user-card">
            <div class="card-inner">
              <div class="image-wrapper">
                <img src="{{ msg.user.header_image_url }}" alt="" class="card-hero">
              </div>
              <div class="card-contents">
                <a href="/users/{{ msg.user.id }}" class="card-link">
                  <img src="{{ msg.user.image_url }}" alt="Image for {{ msg.user.username }}" class="card-image">
                  <p>@{{ msg.user.username }}</p>
                </a>
                <!-- show like/unlike -->
                {% if g.user.is_liking(msg) %}
                    <form action="/like-unlike", method="Post">
                      <input type="hidden" name="redirect_to" value="{{redirect_to}}">
                      <input type="hidden" name="message_id" value="{{ msg.id }}">
                      <button class='like'><i class="fas fa-thumbs-up"></i></button> 
                    </form>
                
                {% else %}
                    <form action="/like-unlike", method="Post">
                      <input type="hidden" name="redirect_to" value="{{ redirect_to }}">
                      <input type="hidden" name="message_id" value="{{ msg.id }}">
                      <button class='like'><i class="far fa-thumbs-up"></i></button> 
                    </form>
                {% endif %}
                
                <!-- show follow/unfollow -->
                {% if g.user.is_following(msg.user) %}
                  <form method="POST"
                        action="/users/stop-following/{{ msg.user.id }}">
                    <button class="btn btn-primary btn-sm">Unfollow</button>
                  </form>
                {% else %}
                  <form method="POST" action="/users/follow/{{ msg.user.id }}">
                    <button class="btn btn-outline-primary btn-sm">Follow</button>
                  </form>
                {% endif %}

              </div>
              <p class="card-bio">{{ msg.text }}</p>
            </div>
          </div>
        </div>

      {% endfor %}

    </div>
  </div>

{% endblock %}