{% extends 'users/detail.html' %}
{% block user_details %}
  <div class="col-sm-6">
    <ul class="list-group" id="messages">

      {% for message in messages %}

        <li class="list-group-item">
          <a href="/messages/{{ message.id }}" class="message-link"/>

          <a href="/users/{{ user.id }}">
            <img src="{{ user.image_url }}" alt="user image" class="timeline-image">
          </a>

          <div class="message-area">
            <a href="/users/{{ user.id }}">@{{ user.username }}</a>
            <span class="text-muted">{{ message.timestamp.strftime('%d %B %Y') }}</span>
            <p>{{ message.text }}</p>
            <!-- first if is to make sure we don't show like/unlike to user on their own messages
            the second one is to handle the unlike action for the "likes" page  -->
            {% if g.user.id != message.user_id %}
              {% if g.user.is_liking(message) %}
                <form action="/like-unlike", method="Post">
                  <input type="hidden" name="redirect_to" value="{{redirect_to}}">
                  <input type="hidden" name="message_id" value="{{ message.id }}">
                  <button class='like'><i class="fas fa-thumbs-up"></i></button> 
                </form>
          
              {% else %}
                <form action="/like-unlike", method="Post">
                  <input type="hidden" name="redirect_to" value="{{ redirect_to }}">
                  <input type="hidden" name="message_id" value="{{ message.id }}">
                  <button class='like'><i class="far fa-thumbs-up"></i></button> 
                </form>
              {% endif %}
            {% endif %}
          
          </div>
        </li>

      {% endfor %}

    </ul>
  </div>
{% endblock %}